@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto",sans-serif;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

button:focus, input:focus, select:focus, video:focus {
  outline: none;
}

/*main-color*/
/*red button*/
.wrapper {
  margin: 0 auto;
}

.main-btn {
  background: #ff1a0d;
  color: #fff;
  font-weight: 700;
  border: none;
  width: 280px;
  height: 60px;
  border-radius: 2px;
  -webkit-animation: animated-btn 1s infinite;
          animation: animated-btn 1s infinite;
}

.main-btn-wrap {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-btn a {
  font-size: 22px;
  font-family: "Oswald", sans-serif !important;
  text-decoration: none;
  color: #fff;
  display: block;
}

/*fixed button*/
.fixed-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: 0;
  z-index: 20;
  width: 100%;
}

.fixed-btn .main-btn {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  font-weight: 700;
  width: 280px;
  height: 60px;
}

/*red button for form*/
.for-form {
  width: 270px;
  height: 80px;
  font-weight: 500;
  font-size: 24px;
  font-family: "Roboto",sans-serif;
}

.for-tablet {
  display: none;
}

.no-form-tablet {
  display: block;
}

video {
  position: relative;
}

.video-play {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -150%);
          transform: translate(-50%, -150%);
  background-color: rgba(43, 51, 63, 0.7);
  width: 86px;
  height: 41px;
  position: absolute;
  border: .06666em solid #fff;
  border-radius: .3em;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.video-play:hover {
  background-color: #696e76b3;
}

.video-play::before {
  content: '';
  position: absolute;
  left: 35px;
  bottom: 8px;
  border: 10px solid transparent;
  border-left: 14px solid #fff;
}

.modal-wrap {
  display: none;
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
}

.modal-wrap .close {
  color: #000;
  background-color: #fff;
  border: 3px solid #999;
  border-radius: 50px;
  font-size: 18px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
}

.modal-wrap .tr {
  display: none !important;
}

.modal-wrap .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  background-color: #fff;
  -webkit-box-shadow: 10px 10px 60px #555;
          box-shadow: 10px 10px 60px #555;
  max-width: 900px;
  height: 600px;
  width: 80%;
  border-radius: 8px;
  padding: 20px;
  overflow-y: scroll;
  font-size: 14px !important;
  line-height: 1.4em;
}

.modal-wrap .modal p {
  margin: 0 auto;
}

.modal-wrap .modal h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.modal-wrap.open {
  display: block;
}

/*animation red button*/
@-webkit-keyframes animated-btn {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 0.85, 0.85);
            transform: scale3d(0.85, 0.85, 0.85);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes animated-btn {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 0.85, 0.85);
            transform: scale3d(0.85, 0.85, 0.85);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

/*header (top)*/
.header-mob {
  display: none;
  margin-bottom: -20px;
}

.header-mob_top {
  background: #2e62b8;
  color: #fff;
  font-family: arial;
  font-size: 0.77rem;
  text-align: center;
  padding: 7px;
}

.header-mob_bottom p {
  text-align: center;
  margin-top: 10px;
  font-family: oswald;
  font-size: 1.10rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.header-mob_bottom img {
  width: 70%;
  margin: 0 auto 40px;
  display: block;
}

.h-top {
  padding-top: 50px;
  background-image: url("../img/first-screen/first-screen-girl.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.h-top .first-screen-main {
  margin-top: -5px;
  margin-right: -5px;
  width: 630px;
}

.h-top .first-screen-main-top {
  text-align: right;
}

.h-top .first-screen-main__title {
  font-family: Arial;
  font-style: italic;
  font-weight: normal;
  font-size: 89px;
  line-height: 127.6%;
}

.h-top .first-screen-mob {
  display: none;
}

/*header (bottom)*/
.h-bottom {
  padding-top: 20px;
  padding-bottom: 30px;
  background: #f5f5f5;
}

.h-bottom .h-bottom__text {
  color: #918F8F;
  font-family: 'Oswald', sans-serif;
  font-size: 21px;
  font-weight: 300;
}

.h-bottom .as-seen-on {
  margin-top: 30px;
}

.h-bottom .image-row-bottom img {
  margin-top: 20px;
  width: 81%;
}

/*main form*/
.main-form {
  padding: 0;
  width: 332px;
  margin: 0 0 15px -25px;
  background: #fff;
  border-radius: 20px 20px 0 0;
}

.main-form__header {
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.2;
  padding: 7px 15px;
  width: 100%;
  margin-bottom: 7px;
  border-radius: 20px 20px 0 0;
  background: #3671B8;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-stretch: extra-expanded;
  color: #fff;
}

.main-form__inputs {
  position: relative;
  background: #fff;
  display: grid;
  display: -ms-grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-form__inputs input, .main-form__inputs select {
  width: 282px;
  height: 38px;
  margin-bottom: 9px;
  padding: 0 10px 5px 45px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

.main-form__inputs input::-webkit-input-placeholder, .main-form__inputs select::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  font-weight: 400;
}

.main-form__inputs input:-ms-input-placeholder, .main-form__inputs select:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  font-weight: 400;
}

.main-form__inputs input::-ms-input-placeholder, .main-form__inputs select::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  font-weight: 400;
}

.main-form__inputs input::placeholder, .main-form__inputs select::placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  font-weight: 400;
}

.main-form__inputs select, .main-form__inputs input[name="state"] {
  background: url("../img/inputs-icons/flag.jpg") no-repeat 10px 10px;
}

.main-form__inputs select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  color: rgba(0, 0, 0, 0.5);
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  z-index: 1;
}

.main-form__inputs .points {
  color: rgba(0, 0, 0, 0.3);
  font-size: 28px;
  font-family: 'Oswald', sans-serif;
  position: absolute;
  right: 35px;
  top: -10px;
}

.main-form__inputs .red-star {
  color: #ff1a0d;
  position: absolute;
  font-size: 15px;
  font-weight: 700;
}

.main-form__inputs .red-star:nth-of-type(2) {
  top: 50px;
  right: 35px;
}

.main-form__inputs .red-star:nth-of-type(3) {
  top: 147px;
  right: 35px;
}

.main-form__inputs input[name="first-name"], .main-form__inputs input[name="last-name"] {
  background: url("../img/inputs-icons/user.jpg") no-repeat 10px 10px;
}

.main-form__inputs input[name="email"] {
  background: url("../img/inputs-icons/letter.jpg") no-repeat 10px 10px;
}

.main-form__inputs input[name="address"] {
  background: url("../img/inputs-icons/home.jpg") no-repeat 10px 10px;
}

.main-form__inputs input[name="city"] {
  background: url("../img/inputs-icons/geo.jpg") no-repeat 10px 10px;
}

.main-form__inputs input[name="postal-code"] {
  background: url("../img/inputs-icons/doc.jpg") no-repeat 10px 10px;
}

.main-form__inputs input[name="phone-number"] {
  background: url("../img/inputs-icons/phone.jpg") no-repeat 10px 10px;
}

.main-form .verified {
  width: 100%;
  margin: 0  auto;
  padding: 5px;
}

/*section The Proof*/
.proof {
  padding-top: 30px;
  padding-bottom: 50px;
}

.proof__title {
  max-width: 504px;
  margin: 0 auto;
}

.proof__title img {
  width: 100%;
}

.proof__subtitle h3 {
  color: #ff6600;
  font-size: 1.4rem;
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
}

.proof__subtitle h3 br {
  display: none;
}

.proof__text {
  margin-top: 15px;
  margin-bottom: 30px;
  color: #353535;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: 'Oswald', sans-serif;
}

.proof .video-play {
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
}

/*section About Product*/
.about-product {
  background-color: #6dcff6;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #06407D;
}

.about-product__content {
  width: 535px;
}

.about-product__title {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
}

.about-product__subtitle {
  display: block;
  margin-bottom: 25px;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: 'Oswald', sans-serif;
}

.about-product p {
  font-size: 0.8rem;
  font-family: 'Arimo', sans-serif;
}

.about-product p span {
  text-decoration: underline;
  font-weight: 700;
}

.about-product p:last-child {
  font-weight: 700;
}

.about-product .magzine-men_fin {
  margin-top: 30px;
  margin-left: 70px;
}

.about-product .main-btn-wrap {
  margin-left: 70px;
}

/*blue title*/
.blue-title {
  color: #0064f9;
  font-size: 1.8rem;
  font-weight: 700;
}

/*prange-subtitle*/
.orange-subtitle {
  color: #ff6600;
  font-size: 1.4rem;
  line-height: 1.4em;
  font-weight: 700;
}

/*section  The Physicians Choice*/
.physicians-choice {
  padding: 50px 0;
}

.physicians-choice__subtitle {
  display: block;
  margin-bottom: 50px;
  font-size: 1.4rem;
}

.physicians-choice video {
  border: 25px solid #EEEEEE;
}

.physicians-choice .dr-name {
  margin-top: 10px;
  display: block;
  color: #333;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}

.physicians-choice .dr {
  display: block;
  color: #333;
  text-align: center;
  font-size: 0.8rem;
  display: block;
  font-weight: 200;
}

/*section  Pharmacist Recommended*/
.pharmacist-recommended​ {
  padding: 50px 0;
  background: #f3f3f3;
}

.pharmacist-recommended​__text {
  display: block;
  font-size: 1.2rem;
  color: #333;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

.pharmacist-recommended​__text br {
  display: none;
}

.pharmacist-recommended​__video-wrap {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  margin-top: 30px;
  margin-bottom: 10px;
}

.pharmacist-recommended​__video-wrap .video-play {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/*section  How It Works?*/
.how-it-works {
  background: url("../img/bg/bg1.jpg") no-repeat center center;
  background-size: cover;
  padding: 40px 0 10px;
}

.how-it-works_bg-mob {
  display: none;
}

.how-it-works__content {
  width: 580px;
}

.how-it-works__title {
  line-height: 1.2em;
  font-size: 2.33rem;
  font-weight: 300;
  color: #28598E;
  font-family: 'Arimo', sans-serif;
}

.how-it-works__title span {
  color: #0064f9;
  font-weight: 700;
  font-family: "Roboto",sans-serif;
}

.how-it-works__text {
  color: #0e437e;
  font-size: 1rem;
  line-height: 1.4em;
  font-family: 'Arimo', sans-serif;
  font-weight: 200;
}

.how-it-works .advanteges__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
  width: 500px;
  color: #0e437e;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: bold !important;
}

.how-it-works .advanteges__item img {
  width: 60px;
  height: 60px;
}

.how-it-works .advanteges__descr {
  font-family: 'Arimo', sans-serif;
  font-size: 0.68rem;
  line-height: 1.4em;
  margin-left: 25px;
}

.how-it-works .advanteges__descr span {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.85rem;
  font-weight: 700 !important;
  margin-bottom: 5px;
}

/*section Q&A*/
.q-and-a {
  padding: 30px 0;
  margin-bottom: -30px;
  background-color: #f2f9ff;
}

.q-and-a .container {
  display: grid;
  display: -ms-grid;
  gap: 10px;
  grid-template-columns: 8fr 1fr;
  -ms-grid-columns: 8fr 10px 1fr;
}

.q-and-a__content {
  color: #376496;
  font-size: 1.4rem;
  line-height: 1.4em;
  font-family: 'Arimo', sans-serif;
}

.q-and-a__content .orange-text {
  color: #ff6600;
  font-weight: 600;
  font-family: arial;
}

/*section What to expect*/
.what-to-expect {
  margin-top: 25px;
  background-image: url("../img/bg/bg2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}

.what-to-expect .container {
  display: none;
}

.what-to-expect__bg-mob {
  display: none;
}

/*section HAIR RESCUE RX*/
.hair-rescue {
  padding-bottom: 40px;
  color: #3d3d3d;
  font-size: 31px;
  font-family: 'Arimo', sans-serif;
  font-weight: 400;
}

.hair-rescue .orange-text {
  font-weight: 600;
  color: #ff6600;
}

.hair-rescue .blue-text {
  color: #0064f9;
}

/*section about efficiency*/
.about-efficiency {
  padding: 70px 0;
  color: #28598e;
  font-family: 'Arimo', sans-serif;
  background-image: url("../img/bg/bg3.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.about-efficiency__title {
  font-size: 2rem;
  line-height: 1.2em;
  font-weight: normal;
}

.about-efficiency__title .blue-text {
  color: #0064f9;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.about-efficiency__image {
  display: none;
}

.about-efficiency__descr {
  font-size: 1rem;
  line-height: 1.4em;
}

.about-efficiency__content li {
  font-size: 0.68rem;
  line-height: 1.4em;
  list-style: none;
}

.about-efficiency__content li span {
  display: block;
  font-size: 0.8rem;
  line-height: 1.2em;
  font-weight: 500;
  padding: 0 0 15px 20px;
}

.about-efficiency__content li span::before {
  content: '';
  display: inline-block;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #00CCCC;
  margin-right: 5px;
}

.about-efficiency__content li p {
  margin-left: 45px;
}

/*section with real stories*/
.real-stories {
  padding: 40px 0;
}

.real-stories__title, .real-stories__subtitle {
  font-family: 'Oswald', sans-serif;
  font-weight: 800;
}

.real-stories__title br, .real-stories__subtitle br {
  display: none;
}

.real-stories__subtitle {
  display: block;
  margin-bottom: 20px;
}

.real-stories .video-wrap {
  margin-top: 25px;
  background: #eee;
  padding: 25px 25px 15px;
  width: 555px;
}

.real-stories .video-wrap span {
  display: block;
  color: #404040;
  font-family: Arial, serif;
  font-size: 0.8rem;
  margin-top: 15px;
}

/*feedback section*/
.feedback {
  padding: 20px 0 30px;
}

.feedback-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 25px;
}

.feedback__title, .feedback__subtitle {
  font-family: 'Oswald', sans-serif;
  font-weight: 800;
}

.feedback__subtitle {
  display: block;
  margin-bottom: 30px;
}

.feedback__subtitle br {
  display: none;
}

.feedback__content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  width: auto;
  height: 310px;
  background: #eee;
  padding: 25px;
  margin-bottom: 30px;
}

.feedback__content_image .stars {
  margin-top: 10px;
  width: 81px;
}

.feedback__content_image span {
  display: block;
  font-size: 0.8rem;
  font-family: Arial, serif;
  color: #333;
}

.feedback__content_text {
  font-size: 0.65rem;
  color: #333;
  text-align: left;
  font-weight: 300;
}

/*section with information on how to use*/
.about-usage .container:nth-of-type(1) {
  border-top: 2px solid #ff6600;
  padding-top: 30px;
}

.about-usage .container:nth-of-type(2) {
  border-bottom: 2px solid #316ed4;
  padding-bottom: 30px;
}

.about-usage__title {
  color: #333;
  line-height: 1.6em;
  font-size: 1.8rem;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
}

.about-usage__title span {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #0064f9;
}

.about-usage__title span br {
  display: none;
}

.about-usage__text {
  margin-top: 30px;
  color: #50a5f6;
  font-size: 1rem;
  line-height: 1.4em;
  font-family: 'Arimo', sans-serif;
  font-weight: 700;
}

.about-usage__text br {
  display: none;
}

.about-usage span:nth-of-type(3) {
  margin-right: 80px;
}

.about-usage .bg-mob {
  display: none;
}

/*section with information about the benefits - the final section*/
.about-benefits {
  background-image: url("../img/bg/bg4.png");
  background-repeat: no-repeat;
  min-height: 700px;
  margin-bottom: -72px;
  z-index: 12 !important;
  margin-top: 10px;
  background-position: right;
  background-size: contain;
}

.about-benefits .tablet {
  display: none;
}

.about-benefits__image {
  display: none;
}

.about-benefits__content {
  padding: 0 15px 0 0;
  margin-top: 40px;
}

.about-benefits__title {
  margin: 0 0 10px;
  color: #0064f9;
  font-size: 2.66rem;
  line-height: 1.2em;
}

.about-benefits__subtitle {
  margin: 0;
  display: block;
  font-size: 1.4rem;
  line-height: 1.2em;
  font-family: 'Arimo', sans-serif;
  font-weight: normal;
  margin-bottom: 15px;
}

.about-benefits__text {
  margin: 0;
  font-size: 0.8rem;
  font-family: Arial, serif;
  color: #333;
}

.about-benefits__text br:nth-of-type(2) {
  display: none;
}

.about-benefits__list {
  margin-top: 20px;
  margin-left: 30px;
  list-style-image: url("../img/list-marker/marker.jpg");
}

.about-benefits__list li {
  font-size: 0.65rem;
  font-family: 'Arimo', sans-serif;
  font-weight: 700;
  padding: 0 0 10px 15px;
}

.about-benefits .main-btn-wrap {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-top: -10px;
}

.about-benefits .main-btn-wrap button {
  font-weight: 700;
}

.link-block {
  position: relative;
}

.footer-link-wrap {
  z-index: 13;
  position: absolute;
  bottom: -150px;
  left: 15px;
  list-style: none;
  cursor: pointer;
}

.footer-link-wrap li {
  display: inline-block;
  font-size: 13px;
  color: #fff;
  font-weight: 500;
}

.footer-link-wrap li a {
  font-size: 13px;
  color: #fff;
}

.footer-link-wrap li:hover {
  color: blue;
}

.footer-link-wrap span {
  font-size: 14px;
  color: #393a57;
}

/*footer*/
.footer {
  z-index: -2;
  position: relative;
  padding: 40px 0px 40px;
  background-color: #424362;
  color: #fff;
  font-size: 14px;
  line-height: 1.4;
}

.footer img {
  width: 135px;
  margin-bottom: 5px;
}

.footer .copyright {
  font-size: 12.8px;
  font-weight: 300;
  margin-bottom: 50px;
}

.footer p {
  max-width: 550px;
}

/*packages*/
.packages .container {
  width: 945px;
}

.packages .container .packages__header {
  background-color: #2ebd00;
  margin-top: 45px;
  height: 85px;
  color: #fff;
  text-align: center;
}

.packages .container .packages__header h1 {
  font-size: 1.6rem;
  padding: 10px 0 0;
  margin: 0;
  font-weight: 600;
}

.packages .container .packages__header span {
  margin-top: -5px;
  font-weight: 300;
  display: block;
  font-size: 0.8rem;
}

.packages__text {
  font-size: 1.4rem;
  font-weight: 300;
  color: #333;
}

.packages__text .dark-blue {
  color: #032258;
  font-weight: 600;
}

.packages__text .blue {
  color: #3f6cb1;
  font-weight: 700;
}

.packages__row a {
  display: block;
  margin-bottom: 20px;
  border: 2px solid #cacaca;
  text-decoration: none;
}

.packages__row .package__top {
  margin-top: 20px;
  border-top: 3px solid #5686df;
  border-bottom: 3px solid #5686df;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 40px;
}

.packages__row .package__top span {
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 25px;
}

.packages__row .package__top .purple {
  color: #a44eba;
}

.packages__row .package__top .blue {
  color: #5686df;
  margin-right: auto;
}

.packages__row .package__content {
  display: grid;
  display: -ms-grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
}

.packages__row .package__content img {
  margin: 20px  0 20px auto;
  width: 85%;
}

.packages__row .package__content p {
  margin-left: 15px;
}

.packages__row .package__content .blue-text {
  margin-top: 30px;
  color: #4e93c7;
  font-size: 24px;
  line-height: 1.4;
  margin-bottom: 0.5rem;
}

.packages__row .package__content .price {
  color: #000;
  font-family: "Oswald", sans-serif;
  font-size: 42px;
  font-weight: 500;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.packages__row .package__content .price sub {
  font-size: 20px;
  font-weight: normal;
  display: block;
  position: absolute;
  left: 100%;
  top: 70%;
}

.packages__row .package__content .select {
  margin-left: 15px;
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 28px;
  background: #f07d3e;
  padding: 0 3px;
  border-radius: 5px;
  font-family: "Oswald", sans-serif;
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.packages .package__bottom-mob {
  display: none;
}

.packages img {
  width: 100%;
}

.packages .timer {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.packages .timer-wrap {
  margin: 90px 0 0;
}

.packages .timer-wrap span {
  font-size: 1.2rem;
  font-family: "Oswald", sans-serif;
  display: block;
  text-align: center;
  font-weight: bold;
}

.packages .timer__item {
  width: 120px;
  border: 1px solid  #d34e3c;
  border-radius: 4px;
  color: #d34e3c;
}

.packages .timer__item .title {
  font-weight: 400;
  font-size: 14px;
  margin-top: 10px;
}

.packages .timer__item .num {
  font-size: 60px;
  line-height: 91px;
  font-weight: 500;
  font-family: "Oranienbaum",cursive;
}

.packages .guarantee-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  margin-top: 50px;
}

.packages .guarantee span {
  font-size: 1.2rem;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  display: block;
  margin-bottom: 15px;
}

.packages .guarantee p {
  line-height: 1.4em;
  font-size: 0.8rem;
  font-weight: 300;
}

.packages .guarantee p b {
  font-weight: bold;
}

.packages .image-row {
  margin-top: 50px;
}

.packages .image-row a {
  width: 700px;
  margin: 0 auto 40px;
  display: block;
}

.packages .image-row a:nth-of-type(2) {
  width: 605px;
}

.mobile-optin {
  padding-top: 50px;
}

.mobile-optin img {
  width: 100%;
}

.mobile-optin .mobile-form {
  margin-top: 40px;
  position: relative;
}

.mobile-optin .mobile-form input {
  width: 100%;
  height: 45px;
  margin-bottom: 15px;
  padding: 5px 10px 5px 45px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

.mobile-optin .mobile-form input::-webkit-input-placeholder {
  font-family: 'Open Sans', sans-serif;
  color: rgba(0, 0, 0, 0.4);
  font-size: 16px;
  font-weight: 600;
  top: 90px;
}

.mobile-optin .mobile-form input:-ms-input-placeholder {
  font-family: 'Open Sans', sans-serif;
  color: rgba(0, 0, 0, 0.4);
  font-size: 16px;
  font-weight: 600;
  top: 90px;
}

.mobile-optin .mobile-form input::-ms-input-placeholder {
  font-family: 'Open Sans', sans-serif;
  color: rgba(0, 0, 0, 0.4);
  font-size: 16px;
  font-weight: 600;
  top: 90px;
}

.mobile-optin .mobile-form input::placeholder {
  font-family: 'Open Sans', sans-serif;
  color: rgba(0, 0, 0, 0.4);
  font-size: 16px;
  font-weight: 600;
  top: 90px;
}

.mobile-optin .mobile-form .red-star {
  color: #ff1a0d;
  position: absolute;
  font-size: 15px;
  font-weight: 700;
}

.mobile-optin .mobile-form .red-star:nth-of-type(1) {
  top: 5px;
  right: 5px;
}

.mobile-optin .mobile-form .red-star:nth-of-type(2) {
  top: 65px;
  right: 5px;
}

.mobile-optin .mobile-form input[name="first-name"], .mobile-optin .mobile-form input[name="last-name"] {
  background: url("../img/inputs-icons/user.jpg") no-repeat 10px 10px;
  background-size: 20px;
}

.mobile-optin .mobile-form input[name="email"] {
  background: url("../img/inputs-icons/letter.jpg") no-repeat 10px 15px;
  background-size: 25px;
}

.mobile-optin .mobile-form input[type="submit"] {
  background: #5c157a;
  color: #fff;
  line-height: 1.3;
  text-align: center;
}

.mobile-optin p {
  text-align: center;
  margin-top: 20px;
  font-weight: 300;
}

.mobile-optin .image-block {
  margin-bottom: 15px;
}

.mobile-optin .image-block .verified {
  padding-bottom: 15px;
}

.mobile-optin__footer {
  text-align: center;
  font-size: 300;
}

.mobile-optin__footer .copyright {
  font-size: 0.80rem;
}

.mobile-optin__footer .footer__text {
  font-size: 0.6rem;
}

@media (min-width: 1801px) and (max-width: 1980px) {
  .about-benefits {
    background-position: 80%;
  }
}

@media (min-width: 1601px) and (max-width: 1800px) {
  .about-benefits {
    background-position: 85%;
  }
}

@media (min-width: 1430px) and (max-width: 1600px) {
  .about-benefits {
    background-position: 95%;
  }
}

@media (min-width: 1308px) and (max-width: 1430px) {
  .about-benefits {
    background-position: 100%;
  }
}

@media (max-width: 1307px) {
  .about-benefits {
    background-position: 110%;
  }
}

@media (min-width: 1281px) {
  html {
    font-size: 1.6rem;
  }
}

@media (max-width: 1280px) {
  html {
    font-size: calc(0.8rem + 1.2 * ((100vw - 20rem) / 80));
  }
  .about-benefits__content {
    width: 585px !important;
  }
  .about-benefits__title {
    width: 500px;
  }
}

@media (max-width: 1199px) {
  .main-form {
    width: 282px;
  }
  .main-form input, .main-form select {
    width: 232px;
    margin-left: auto;
    margin-right: auto;
  }
  .main-form .for-form {
    width: 210px;
  }
  .first-screen-main {
    margin-left: -100px;
  }
  .about-product__content {
    width: 441px;
  }
  .about-product .magzine-men_fin {
    width: 498px;
    margin-left: 50px;
  }
  .real-stories .video-wrap {
    width: 720px;
    margin: 0 auto 25px;
  }
  .real-stories .video-wrap video {
    width: 670px;
  }
  .about-usage span br:nth-of-type(2) {
    display: block;
  }
  .about-usage span:nth-of-type(3) {
    margin-right: 0;
  }
  .about-benefits__content {
    width: 485px;
    padding-right: 40px;
  }
  .packages .container {
    width: 778px;
  }
}

@media (max-width: 1024px) {
  .for-tablet {
    display: block;
  }
  .no-form-tablet {
    display: none;
  }
  .main-form {
    width: 282px;
    margin: 50px 0 0 -75px;
  }
  .main-form input, .main-form select {
    width: 232px;
    margin-left: auto;
    margin-right: auto;
  }
  .main-form .for-form {
    width: 210px;
  }
  .h-top {
    background-image: none !important;
    background-color: #ebf5ff;
    background-position: 100% 100%;
  }
  .h-top .for-tablet {
    top: 0;
    position: absolute;
    z-index: 1;
  }
  .h-top .first-screen-main {
    display: none;
  }
  .h-bottom {
    padding-top: 50px;
  }
  .proof br {
    display: none;
  }
  .proof .for-tablet {
    display: block !important;
  }
  .proof__text {
    text-align: center;
  }
  .proof video {
    width: 720px;
  }
  .about-product {
    background-image: url("../img/bg/TabletMagazinPart.png");
    height: 800px;
    position: relative;
  }
  .about-product .for-tablet {
    position: absolute;
    left: 57%;
    bottom: 70px;
  }
  .about-product .container {
    display: none;
  }
  .hair-rescue {
    margin-top: -100px;
  }
  .what-to-expect {
    background-image: url("../img/bg/WhatToExpect.png");
    background-size: cover;
    margin-bottom: -30px;
    position: relative;
  }
  .what-to-expect__subtitle {
    display: none;
  }
  .what-to-expect__list {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 10px auto;
    line-height: 1 !important;
  }
  .what-to-expect__list li {
    min-width: 200px;
    position: relative;
  }
  .what-to-expect__list li span {
    font-family: 'Arimo', sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #0e437e;
    list-style-image: url("../img/list-marker/check mark white no bkr.png");
  }
  .what-to-expect .container {
    display: block;
    width: 450px;
    position: absolute;
    right: 0;
    top: 170px;
  }
  .what-to-expect .container p {
    font-size: 21.5px;
    font-family: 'Arimo', sans-serif;
    color: #0e437e;
    width: 370px;
    display: block;
  }
  .what-to-expect .container p span {
    font-weight: 700;
    font-style: normal;
  }
  .what-to-expect .container p b {
    width: 320px;
    margin-left: auto;
    display: block;
    font-size: 26px;
    font-weight: normal;
    font-style: italic;
  }
  .what-to-expect .container h2 {
    display: none;
  }
  .what-to-expect .container img {
    display: none;
  }
  .pharmacist-recommended​__text br {
    display: block;
  }
  .q-and-a {
    background-image: url("../img/bg/questionMark.png");
    padding: 50px 0;
  }
  .q-and-a img {
    display: none;
  }
  .q-and-a__content {
    font-size: 30px !important;
    line-height: 1.5;
    font-weight: 500;
  }
  .how-it-works {
    background: none;
  }
  .how-it-works__content {
    width: 720px;
    margin: 0 auto;
  }
  .how-it-works_bg-mob {
    width: 100%;
    margin: 0 auto 40px;
    display: block;
  }
  .how-it-works__title {
    display: none;
    text-align: center;
    line-height: 1.2em;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    color: #333;
  }
  .how-it-works__title span {
    font-family: 'Oswald', sans-serif;
  }
  .how-it-works__text {
    font-size: 18px;
    font-weight: 700;
  }
  .how-it-works .advanteges__item span {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
  }
  .about-efficiency {
    padding: 50px 0;
    background-image: none;
    background-color: #dcf3ff;
  }
  .about-efficiency .for-tablet {
    width: 100%;
    margin-bottom: 30px;
  }
  .about-efficiency__title {
    display: none !important;
    text-align: center;
    font-weight: 300;
    margin-bottom: 10px;
    display: block;
    font-size: 2.33rem;
    color: #0987ff;
    font-family: 'Oswald', sans-serif;
  }
  .about-efficiency__title .blue-text {
    font-family: 'Oswald', sans-serif;
  }
  .about-efficiency__descr {
    color: #333333;
    font-family: arial;
    margin-left: 65px;
  }
  .about-efficiency__content {
    margin-left: 65px;
  }
  .about-efficiency__content li {
    line-height: 1.5;
  }
  .about-efficiency__content li span {
    font-weight: bold;
    font-family: arial;
    color: #0987ff;
  }
  .about-efficiency__descr {
    font-size: 1.1rem;
  }
  .about-efficiency__content li {
    font-size: 0.83rem;
  }
  .about-efficiency__content li span {
    font-size: 1.30rem;
  }
  .what-to-expect img {
    width: 100%;
  }
  .feedback-wrap {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0;
  }
  .feedback-wrap .feedback__content-wrap {
    max-width: 720px;
  }
  .feedback-wrap .feedback__content_text {
    font-size: 21px;
  }
  .feedback__subtitle br {
    display: block !important;
  }
  .about-usage .container {
    display: none;
  }
  .about-benefits {
    background-image: url("../img/bg/TabletHairManBottom.png");
    background-size: cover;
    background-position: 120%;
    margin-bottom: -80px;
  }
  .about-benefits__title {
    display: none;
  }
  .about-benefits h2 {
    display: none;
  }
  .about-benefits__subtitle {
    display: none;
  }
  .about-benefits__text {
    display: none;
  }
  .about-benefits__list {
    display: none;
  }
  .about-benefits .main-btn-wrap {
    margin-top: 620px;
    margin-bottom: 40px;
    margin-left: 100px;
  }
  .guarantee {
    margin-left: 80px;
  }
  .guarantee-wrap {
    display: block !important;
  }
  .guarantee-wrap img {
    width: 60px;
  }
}

@media (max-width: 1023px) {
  .fixed-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .for-tablet {
    display: none;
  }
  .no-form-tablet {
    display: block;
  }
  .main-form {
    display: none;
  }
  .h-top {
    background-image: url("img/first-screen/first-screen-mob.jpg");
    background-position: center center;
    padding: 0;
    height: auto !important;
  }
  .h-top .row {
    display: none;
  }
  .h-top .first-screen-mob {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
  .h-bottom {
    padding-top: 30px;
  }
  .about-product {
    height: auto;
    background-image: none;
    width: 940px;
    margin: 0 auto;
  }
  .about-product__content {
    width: 441px;
  }
  .about-product .magzine-men_fin {
    margin-left: 150px;
  }
  .about-product .container {
    display: grid;
    display: -ms-grid;
    gap: 10px;
    grid-template-columns: 5fr 1fr !important;
    -ms-grid-columns: 5fr 10px 1fr;
  }
  .about-product .container img {
    height: auto;
    width: 100% !important;
  }
  .about-product .main-btn-wrap {
    display: none;
  }
  .pharmacist-recommended​ .main-btn-wrap {
    display: none;
  }
  .q-and-a {
    padding: 30px 0;
    background-color: #f2f9ff;
    background-image: none;
  }
  .q-and-a .container {
    display: grid;
    display: -ms-grid;
    gap: 10px;
    grid-template-columns: 8fr 1fr;
    -ms-grid-columns: 8fr 10px 1fr;
  }
  .q-and-a .container img {
    display: block;
  }
  .q-and-a__content {
    color: #376496;
    font-size: 1.4rem;
    line-height: 1.4em;
    font-family: 'Arimo', sans-serif;
  }
  .q-and-a__content .orange-text {
    color: #ff6600;
    font-weight: 600;
    font-family: arial;
  }
  .how-it-works_bg-mob {
    display: block;
    width: 720px;
    margin: 0 auto 15px;
  }
  .about-efficiency__descr {
    margin-left: 0;
  }
  .about-efficiency__content {
    margin-left: 0;
  }
  .about-efficiency__image {
    display: block;
    width: 100%;
    margin: 15px auto;
  }
  .about-efficiency__title {
    display: block !important;
  }
  .hair-rescue {
    display: none;
  }
  .what-to-expect {
    background-image: none !important;
    background-color: #6dcff6;
    height: auto !important;
    padding: 40px 0;
    position: static;
  }
  .what-to-expect .container {
    display: block;
    position: static !important;
    width: 100% !important;
  }
  .what-to-expect .container h2 {
    display: block !important;
  }
  .what-to-expect .container img {
    display: block !important;
    width: 100%;
    margin: 0 auto;
  }
  .what-to-expect__title {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 2.33rem;
    line-height: 1.4em;
    font-weight: 600;
    text-align: center;
    display: block;
  }
  .what-to-expect__subtitle {
    display: block !important;
    text-align: center;
    font-size: 1.6rem;
    font-family: 'Arimo', sans-serif;
    color: #0e437e;
    font-style: italic;
  }
  .what-to-expect p {
    width: 100% !important;
    font-size: 0.8rem;
    font-family: 'Arimo', sans-serif;
    color: #0e437e;
    margin: 0;
  }
  .what-to-expect p b {
    font-family: 'Roboto', sans-serif;
    color: #4B6A71;
    font-size: 1rem;
    margin-left: 0 !important;
  }
  .what-to-expect p b br {
    display: none;
  }
  .what-to-expect__list {
    margin-left: 50px !important;
  }
  .what-to-expect__list li {
    list-style-image: url("../img/list-marker/marker2.jpg") !important;
    font-size: 20px;
    font-family: 'Arimo', sans-serif;
    font-weight: 500;
    color: #353535;
    padding: 10px;
  }
  .what-to-expect__bg-mob {
    display: block;
    width: 100%;
  }
  .what-to-expect .container {
    display: none;
  }
  .feedback__content-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 720px;
    height: auto;
    margin: 0 auto;
  }
  .feedback__content_image {
    width: 200px;
    margin: 0 auto;
  }
  .feedback__content_text {
    font-size: 0.65rem;
  }
  .about-usage h2 br {
    display: none !important;
  }
  .about-usage .container:nth-of-type(1) {
    display: block;
  }
  .about-usage .container:nth-of-type(1) br {
    display: block;
  }
  .about-usage .container:nth-of-type(2) {
    padding-top: 20px;
    padding-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .about-usage .container:nth-of-type(2) .col-lg-12 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .about-usage img:nth-of-type(1) {
    width: 90px;
  }
  .about-usage img:nth-of-type(2), .about-usage img:nth-of-type(4) {
    width: 51px;
  }
  .about-usage img:nth-of-type(3) {
    width: 152px;
  }
  .about-usage img:nth-of-type(5) {
    width: 161px;
  }
  .about-usage .text-row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    height: 650px;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
  .about-usage span {
    text-align: center;
    margin: 0;
  }
  .about-usage br:nth-of-type(2) {
    display: none;
  }
  .about-usage br:nth-of-type(1) {
    display: none;
  }
  .about-benefits {
    background: none;
  }
  .about-benefits__content {
    width: auto;
    padding-right: 0;
  }
  .about-benefits__image {
    display: block;
    width: 100%;
    padding: 10px;
  }
  .about-benefits__image img {
    padding-bottom: 80px;
    width: 100%;
  }
  .about-benefits__title {
    display: block !important;
    color: #0987ff;
    width: 100%;
    text-align: center;
    font-size: 2.8rem;
  }
  .about-benefits__subtitle {
    display: block;
    line-height: 1.4em;
    text-align: center;
  }
  .about-benefits__text {
    display: block;
    font-size: 0.95rem;
  }
  .about-benefits__text br:nth-of-type(1) {
    display: none;
  }
  .about-benefits__text br:nth-of-type(2) {
    display: block;
  }
  .about-benefits__list {
    display: block;
  }
  .about-benefits__list li {
    font-size: 0.80rem;
  }
  .about-benefits .main-btn-wrap {
    display: none;
  }
}

@media (max-width: 991px) {
  .orange-subtitle {
    font-size: 1.5rem;
  }
  .h-bottom__text {
    display: none;
  }
  .h-bottom .image-row-top {
    width: 478px;
    margin: 0 auto;
  }
  .h-bottom .image-row-bottom {
    display: none;
  }
  .proof__subtitle {
    font-size: 1.5rem;
  }
  .proof__text {
    font-size: 1.3rem;
  }
  .about-product {
    width: 720px;
  }
  .about-product__title {
    font-size: 2.6rem;
  }
  .about-product__content {
    width: 120% !important;
  }
  .about-product p {
    font-size: 0.95rem;
  }
  .about-product .magzine-men_fin {
    margin: 0 auto;
    width: 100%;
  }
  .about-product .main-btn-wrap {
    display: none;
  }
  .physicians-choice {
    padding-bottom: 0;
  }
  .physicians-choice__subtitle {
    font-size: 1.5rem;
  }
  .physicians-choice video {
    width: 720px;
  }
  .physicians-choice .dr {
    margin-bottom: 50px;
  }
  .how-it-works__text {
    font-size: 0.8rem;
  }
  .how-it-works .advanteges__item {
    gap: 0 !important;
  }
  .how-it-works .advanteges__descr {
    margin-left: 25px;
    font-size: 0.83rem;
  }
  .how-it-works .advanteges__descr span {
    font-size: 0.95rem;
  }
  .what-to-expect p {
    font-size: 0.77rem;
  }
  .what-to-expect p b {
    font-size: 1.1rem;
  }
  .what-to-expect__list li {
    font-size: 0.77rem;
  }
  .q-and-a__content {
    font-size: 1.5rem;
  }
  .pharmacist-recommended​__text {
    display: block;
    font-size: 1.3rem;
  }
  .real-stories .video-wrap {
    margin-bottom: 25px !important;
  }
  .real-stories .video-wrap span {
    font-size: 0.95rem;
  }
  .about-usage__text {
    font-size: 1.1rem;
  }
  .feedback__content_image span {
    font-size: 0.95rem;
  }
  .feedback__content_text {
    font-size: 0.77rem;
  }
  .packages .container {
    width: 720px;
  }
  .packages .timer-wrap span {
    font-size: 1.3rem;
  }
  .packages .timer__item {
    width: 100px;
  }
  .packages .timer__item .num {
    font-size: 32px;
    line-height: 66px;
  }
  .packages .guarantee span {
    font-size: 1.30rem;
  }
  .packages .guarantee p {
    font-size: 0.95rem;
  }
  .mobile-optin p {
    font-size: 1.10rem;
  }
  .footer p {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .header-mob {
    display: block;
  }
  .orange-subtitle {
    font-size: 1.55rem;
  }
  .h-top .container {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .h-top .first-screen-mob {
    width: 100vw;
  }
  .proof__title {
    width: 100% !important;
  }
  .proof__subtitle {
    font-size: 1.55rem;
  }
  .proof__text {
    font-size: 1.4rem;
  }
  .proof__text br.for-tablet {
    display: none !important;
  }
  .proof video {
    width: 100%;
  }
  .about-product {
    width: 95%;
  }
  .about-product__title br {
    display: none;
  }
  .about-product p {
    font-size: 1.1rem;
  }
  .physicians-choice {
    padding-bottom: 0;
  }
  .physicians-choice__subtitle {
    font-size: 1.55rem;
  }
  .physicians-choice video {
    width: 100%;
  }
  .physicians-choice .video-play {
    -webkit-transform: translate(-50%, -250%);
            transform: translate(-50%, -250%);
  }
  .physicians-choice .dr, .physicians-choice .dr-name {
    font-size: 1.65rem;
  }
  .physicians-choice .dr {
    margin-bottom: 50px;
  }
  .what-to-expect__subtitle {
    font-size: 1.65rem;
  }
  .what-to-expect p {
    font-size: 0.92rem;
  }
  .what-to-expect p b {
    font-size: 1.20rem;
  }
  .what-to-expect__list li {
    font-size: 0.92rem;
  }
  .pharmacist-recommended​__text {
    display: block;
    font-size: 1.4rem;
  }
  .q-and-a__content {
    font-size: 1.55rem;
  }
  .how-it-works__text {
    font-size: 0.95rem;
  }
  .how-it-works__content {
    width: 100%;
  }
  .how-it-works_bg-mob {
    width: 90%;
  }
  .how-it-works .advanteges__item {
    width: 100%;
  }
  .how-it-works .advanteges__item img {
    width: 30px !important;
    height: 30px !important;
  }
  .how-it-works .advanteges__descr {
    font-size: 0.98rem;
  }
  .how-it-works .advanteges__descr span {
    font-size: 1.15rem;
  }
  .about-efficiency__descr {
    font-size: 1.2rem;
  }
  .about-efficiency__content li {
    font-size: 0.98rem;
  }
  .about-efficiency__content li span {
    font-size: 1.4rem;
  }
  .real-stories .video-wrap {
    margin: 0 auto 25px;
    width: 100%;
  }
  .real-stories .video-wrap video {
    width: 100%;
  }
  .real-stories .video-wrap span {
    font-size: 1.1rem;
  }
  .about-usage .container:nth-of-type(2) {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    gap: 50px;
  }
  .about-usage__text {
    font-size: 1.20rem;
  }
  .about-usage img:nth-of-type(1) {
    width: 69px;
  }
  .about-usage img:nth-of-type(3) {
    width: 118px;
  }
  .about-usage img:nth-of-type(5) {
    width: 136px;
  }
  .about-usage .text-row {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    margin: 0;
    height: 560px;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
  .feedback__content-wrap {
    width: 90%;
  }
  .feedback__content_image span {
    font-size: 1.10rem;
  }
  .feedback__content_text {
    font-size: 0.92rem;
  }
  .about-benefits__content {
    width: 100% !important;
  }
  .about-benefits__title {
    color: #0987ff;
  }
  .about-benefits__subtitle {
    text-align: center;
  }
  .about-benefits__text {
    font-size: 1.1rem;
  }
  .about-benefits__list li {
    font-size: 0.95rem;
  }
  .packages .container {
    width: 95%;
    margin: 0 auto;
  }
  .packages .package__content .select {
    display: none;
  }
  .packages .package__top {
    margin-top: 10px;
    border-top: 2px solid #5686df;
    border-bottom: 2px solid #5686df;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 30px;
  }
  .packages .package__top span {
    display: inline-block;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 1rem;
  }
  .packages .package__content img {
    margin-bottom: 0;
    margin-top: 0.5rem;
  }
  .packages .package__content .blue-text {
    margin-top: 1rem;
    color: #4e93c7;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }
  .packages .package__content .price {
    font-size: 1.6rem;
  }
  .packages .package__content .price sub {
    font-size: 0.6rem;
  }
  .packages .package__bottom-mob {
    display: block;
    width: 100%;
    background: #f07d3e;
    color: #fff;
    font-size: 1.6rem;
    line-height: 1.2;
    font-weight: 500;
    text-align: center;
    position: relative;
  }
  .packages .package__bottom-mob .mark {
    position: absolute;
    background: transparent;
    color: #fff;
    font-size: 3rem;
    line-height: 0.1em;
  }
  .packages .timer-wrap span {
    font-size: 1.4rem;
  }
  .packages .timer__item {
    width: 70px;
  }
  .packages .timer__item .num {
    font-size: 32px;
    line-height: 66px;
  }
  .packages .guarantee span {
    font-size: 1.4rem;
  }
  .packages .guarantee p {
    font-size: 1.1rem;
  }
  .packages .image-row a {
    width: 100%;
  }
  .packages .image-row a:nth-of-type(2) {
    width: 100%;
  }
  .mobile-optin p {
    font-size: 1.20rem;
  }
  .mobile-optin__footer {
    display: none;
  }
}

@media (max-width: 500px) {
  .image-row-top {
    width: 100% !important;
  }
  .image-row-top img {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .header-mob_top {
    font-size: 1.07rem;
  }
  .header-mob_bottom p {
    font-size: 1.25rem;
  }
  .header-mob_bottom img {
    width: 50% !important;
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
  }
  .orange-subtitle {
    font-size: 1.60rem;
  }
  .about-product p {
    font-size: 1.25rem;
  }
  /*section What to expect*/
  .proof__subtitle h3 {
    font-size: 1.60rem;
  }
  .proof__subtitle h3 br {
    display: block;
  }
  .proof__text {
    font-size: 1.50rem;
  }
  .physicians-choice__subtitle {
    font-size: 1.6rem;
  }
  .physicians-choice .dr, .physicians-choice .dr-name {
    font-size: 1.7rem;
  }
  .how-it-works__text {
    font-size: 1.1rem;
  }
  .how-it-works .advanteges__descr {
    font-size: 1.13rem;
  }
  .pharmacist-recommended​__text {
    display: block;
    font-size: 1.5rem;
  }
  .q-and-a {
    margin-bottom: -40px;
  }
  .q-and-a .container {
    display: grid;
    display: -ms-grid;
    gap: 10px;
    grid-template-columns: 8fr 1fr;
    -ms-grid-columns: 8fr 10px 1fr;
  }
  .q-and-a .container img {
    max-height: 130px;
  }
  .q-and-a__content {
    color: #000;
    font-size: 1.6rem !important;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
  }
  .q-and-a__content .bottom-text-wrap {
    display: block;
    margin-top: 20px;
  }
  .q-and-a__content .orange-text {
    color: #ff6600;
    font-weight: 600;
    font-family: arial;
  }
  .about-efficiency br {
    display: none;
  }
  .about-efficiency__descr {
    font-size: 1.3rem;
  }
  .about-efficiency__content li {
    font-size: 1.13rem;
  }
  .about-efficiency__content li span {
    font-size: 1.5rem;
  }
  .how-it-works__title {
    font-size: 26px;
  }
  .how-it-works__text {
    font-size: 14.5px;
  }
  .how-it-works .advanteges__item span {
    font-size: 16.5px;
  }
  .real-stories {
    padding-bottom: 30px;
  }
  .real-stories__subtitle br {
    display: block;
  }
  /*section with information on how to use*/
  .about-usage .container {
    display: none !important;
  }
  .about-usage .bg-mob {
    border-top: 2px solid #ff6600;
    border-bottom: 2px solid #316ed4;
    display: block;
    width: 100% !important;
  }
  .feedback {
    padding-top: 0;
  }
  .feedback__content_image span {
    font-size: 1.10rem;
  }
  .feedback__content_text {
    font-size: 1.07rem;
  }
  .about-benefits__text {
    font-size: 1.25rem;
  }
  .about-benefits__list li {
    font-size: 1.1rem;
  }
  .packages .package__top {
    padding: 0 1rem;
  }
  .packages .package__top span {
    font-size: 0.9rem;
  }
  .packages .timer-wrap span {
    font-size: 1.5rem;
  }
  .packages .timer__item {
    width: 58px;
  }
  .packages .timer__item .title {
    font-size: 12px;
  }
  .packages .timer__item .num {
    font-size: 24px;
    line-height: 51px;
  }
  .packages .guarantee {
    margin-left: 0;
  }
  .packages .guarantee-wrap {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    gap: 30px;
  }
  .packages .guarantee-wrap img {
    width: 122px;
  }
  .packages .guarantee span {
    font-size: 1.5rem;
  }
  .packages .guarantee p {
    font-size: 1.25rem;
  }
  .mobile-optin .mobile-form input[type="submit"] {
    line-height: 1.3;
    font-size: 20px;
    padding: 12px 12px;
  }
  .mobile-optin p {
    font-size: 1.30rem;
  }
}

@media (max-width: 400px) {
  .proof__text br {
    display: none !important;
  }
  .footer-link-wrap {
    bottom: -150px;
  }
  .copyright {
    margin-bottom: 60px;
  }
  .physicians-choice .video-play {
    -webkit-transform: translate(-50%, -230%);
            transform: translate(-50%, -230%);
  }
}

@media (max-width: 310px) {
  .footer-link-wrap {
    bottom: -170px;
  }
}

@media (max-width: 345px) {
  .feedback__content_image {
    width: 100%;
  }
  .feedback__content_image .human {
    width: 100%;
  }
  .fixed-btn {
    width: 100%;
  }
  .timer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 1023px) and (orientation: landscape) {
  .wrapper {
    width: 100vw  !important;
  }
}

@media (max-width: 1023px) and (orientation: portrait) {
  .wrapper {
    width: 100vw  !important;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .package__content {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    margin-right: 15px !important;
  }
  .package__content img {
    width: 55% !important;
    height: auto;
  }
  .package__content p {
    margin-left: 15px;
    margin-bottom: 0.5rem;
  }
  .package__content .price sub {
    position: static !important;
    display: inline !important;
  }
  .guarantee-wrap img {
    height: auto;
    width: auto;
  }
  .h-top .first-screen-image {
    margin-top: 20px !important;
  }
  .main-form__inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-form__inputs input, .main-form__inputs select {
    margin: 0 auto 10px;
  }
  .main-form__inputs select::-ms-expand {
    display: none;
  }
  .q-and-a .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .q-and-a .container img {
    margin-left: 10px;
  }
  .what-to-expect {
    height: 750px;
    background-size: contain;
    background-position: auto;
  }
  .feedback-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .feedback-wrap .content-wrap {
    width: 49%;
  }
  .feedback__content_text {
    margin-left: 25px;
  }
  .advanteges__item img {
    width: auto !important;
    height: 60px;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width: 1199px) {
  .feedback-wrap .content-wrap {
    width: 720px;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=style.css.map */